/* 2023 Marcelo Mendoza */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

:root {
    /* Theme Colors */
    --color-primary-normal: black;
    --color-primary-inverted: white;
    --color-bg-normal: white;
    --color-bg-inverted: black;
    --color-sky-blue: #afccd3;
    --color-table-border-normal: #dddddd;
    --color-table-border-focused: #63b7cc;
    --color-table-darkened: rgba(0, 0, 0, 0.1);
    --color-edit-button-bg-normal: #63b7cc;
    --color-edit-button-bg-selected: #004e62;
    --color-edit-button-bg-selected-lighter: #086278;
    --color-edit-button-bg-focused: #b4f0ff;
    --color-edit-button-primary-normal: #00556a;
    --color-editing-area-bg: rgb(188, 255, 215);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: var(--color-bg-normal);
    color: var(--color-primary-normal);
}

/* Top header */
header {
    width: 100vw;
    height: 300px;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1)), url('../img/desk.png');
}

.header-title :is(h1, h2, h3, h4, h5, h6, p) {
    color: var(--color-primary-inverted);
}

.aside-note {
    font-style: italic;
    font-size: smaller;
}

/* Input box formatting */

/* Delete arrow selector on input:number
/* - Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* - Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.input-box {
    /* color:  */
    padding: 10px 5px 10px 20px;
    font-size: large;
    border-radius: 20px;
    border: 1px solid var(--color-table-border-normal);
}

.input-box:hover {
    border: 1px solid var(--color-table-border-focused);
}

/* Main section */
.header-title {
    color: var(--color-primary-normal);
    font-size: x-large;
    position: absolute;
    top: 150px;
    width: 90%;
    text-align: right;
    font-weight: bold;
}

.main-layout {
    /* margin: 20px; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.main-info {
    padding: 20px;
}

.edit-buttons {
    padding: 0 20px;
}

.table-area {
    padding: 0 20px;
}

.table-items {
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

@media (max-width:550px) {
    .table-area {
        width: 100vw;
        overflow: scroll;
    }

    .table-items {
        min-width: 550px;
        width: 85vw;
    }
}

.table-items td {
    margin: 0;
}

.placeholder-text {
    font-style: italic;
    text-align: center;
    font-weight: bold;
    color: rgb(186, 84, 84);
    background-color: rgb(254, 215, 215);
}

tr:hover {
    background-color: var(--color-edit-button-bg-focused);
}

.readonly {
    background-color: var(--color-table-darkened);
}

input.readonlyTextBox {
    visibility: hidden;
}

.selectable {
    cursor: pointer;
}

.selected {
    background-color: var(--color-edit-button-bg-selected);
    color: var(--color-primary-inverted);
}

.selected:hover {
    background-color: var(--color-edit-button-bg-selected-lighter);
    color: var(--color-primary-inverted);
}

th {
    background-color: var(--color-bg-inverted);
    color: var(--color-primary-inverted);
    font-size: large;
}

th,
td {
    border: solid 1px var(--color-primary-normal);
    padding: 5px 10px;
    font-weight: bold;
}

.right-align {
    text-align: right;
}

.price:before {
    content: '$ ';
}

/* Editing area */

.edit-buttons {
    margin-bottom: 10px;
}

@media (max-width:760px) {
    .edit-buttons {
        display: flex;
        flex-direction: column-reverse;
        gap: 5px;
    }

}

.edit-button {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    background-color: var(--color-edit-button-bg-normal);
    color: var(--color-edit-button-primary-normal);
    font-weight: bold;
    font-size:medium;
}

.red {
    background-color: rgb(225, 103, 103);
    color: var(--color-primary-inverted);
}

.red:hover {
    background-color: rgb(214, 22, 22) !important;
}

.warning {
    color: rgb(136, 2, 2);
    font-size: small;
    font-weight: bold;
    margin: 10px;
}

.edit-button:hover {
    background-color: var(--color-edit-button-bg-focused);
}

.editingArea {
    background-color: var(--color-editing-area-bg);
}

.editing-text-box {
    width: 100%;
    margin: 5px 0;
    font-size: large;
    padding: 5px 10px;
}

/* Table Footer */

.table-footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: x-large;
    font-weight: bold;
    margin-right: 10px;
}

.total {
    display: flex;
    flex-wrap: nowrap;
}

.total:before {
    content: "Total $ ";
}

/* Right panel formatting */

aside {
    margin-left: 20px;
    min-width: 300px;
    padding: 20px;
    /* padding-top: 0; */
}

.aside-panel {
    padding: 10px;
    border: solid 1px var(--color-primary-normal);
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    font-size: large;
}

@media(max-width: 760px) {
    label {
        flex-direction: column;
    }
}

@media (max-width:950px) {
    .main-layout {
        flex-wrap: wrap;
    }

    aside {
        margin-top: 20px;
        margin-left: 0;
        min-width: none;
        width: 100%;
        padding-top: 0;
    }
}

aside :is(h1, h2, h3, h4, h5, h6) {
    text-align: center;
    margin-bottom: 10px;
}

aside :not(h1, h2, h3, h4, h5, h6) {
    width: 100%;
    margin-bottom: 2px;
}

/* Modal form */

.modal-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

.hidden {
    display: none;
}

.modal-form-content {
    position: relative;
    background-color: var(--color-bg-normal);
    border-radius: 20px;
    border: solid 1px var(--color-table-border-normal);
    top: 40%;
    width: 90%;
    padding: 20px;
    margin: auto;
}

.modal-form-content p {
    font-size: large;
}

.question-buttons {
    margin: 20px;
    text-align: center;
}

/* Footer */
footer {
    text-align: center;
    font-size: smaller;
    font-weight: bold;
    background-color: var(--color-table-border-normal);
    color: #888888;
    padding: 20px;
    padding-bottom: 60px;
}

footer a {
    color: #555555;
    text-decoration: none;
}

.disclaimer {
    margin-top: 10px;
    font-weight: normal;
}

/* Alerts */

.alert-area-container {
    display: flex;
    justify-content: center;
}

.alert-box {
    transition: opacity 200ms linear;
    transition: top 200ms;
    opacity: 100;
    position: fixed;
    top: 5px;
    display: flex;
    justify-content: center;
}

.alert-box p {
    font-weight: bold;
    text-align: center;
    font-size: large;
    padding: 10px 20px;
    box-shadow: 0 0 30px var(--color-table-border-normal);
    border-radius: 30px;
}

.alert-box-hidden {
    transition: 500ms linear;
    opacity: 0;
    top: -20px;
}

.alert-box-info {
    background-color: rgb(236, 255, 233);
    border: solid 1px rgb(22, 112, 0);
    color: rgb(22, 112, 0);
}

.alert-box-normal {
    background-color: white;
    border: solid 1px rgb(158, 158, 158);
    color: rgb(158, 158, 158);
}

.alert-box-warning {
    background-color: rgb(255, 233, 233);
    border: solid 1px rgb(112, 0, 0);
    color: rgb(112, 0, 0);
}

/* Printed document format */
.print-body {
    margin: 20px;
    font-size: small;
}

.print-heading {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.print-text {
    font-weight: bold;
}

.print-subheading {
    text-align: left;
}

.flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.flex-col {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.print-space {
    height: 20px;
}

.print-space-big {
    height: 60px;
}

.print-table {
    width: 100%;
    border-collapse: collapse;
}

.print-table tbody tr th,
.print-table tbody tr td {
    padding: 2px 5px;
    margin: 0;
}

.print-hr {
    border: 0;
    border-top: solid 1px #cccccc;
    height: 3px;
}